___

<a href='https://www.schoolofds.com'><center><img src='../schoolofds_logo.png'/></center></a>

___
<center><em>Content Copyright by School of Data Science @schoolofds 2022-2023 </em></center>

# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers - int, float
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
___

## Data types

### Numbers

In [ ]:
98746565 / 646454 * 1215454 - 10000000

In [ ]:
1 * 3*3

In [ ]:
1 / 2

In [ ]:
4 ** 2

In [ ]:
10 % 3

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

#### PEDMAS rule

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2
x = 2

In [ ]:
Location = " powai , Mumbai, "
password = 'P@ssword1'

In [ ]:
print('Where is IIT Bombay location  \n  ', 'The answer is :'    , Location)

In [ ]:
x = 333
y = 123

In [ ]:
z = x + y

print(z)

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes, I've "

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:

z

In [ ]:
num = 12
num = 123
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=login,two=password))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
df = [1,2,3,4, 'iit','sds','avinash','random name', ['iit','sds','avinash',['iit','sds','avinash','random name'],'random name']]

In [ ]:
df

In [ ]:
[1,2,3,44,9999.1123,[1,2,3,44,9999.1123]]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list

In [ ]:
my_list.append('Thanos')

In [ ]:
my_list

In [ ]:
my_list.append('d')

In [ ]:
my_list = ['hi',1, 2, 3, 44, 9999.1123,['a',2]]

In [ ]:
my_list

In [ ]:
my_list[1]

In [ ]:
my_list[0:4]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list = ['a','b','c','d']

In [ ]:
my_list[ ::-1]

In [ ]:
my_list[::-1]

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
JSON data

In [ ]:
f = {'source':'TOI','id':'NEWSAPI1001',  'name' : 'Times of India'     }

In [ ]:
f

In [ ]:
d = {"author": "Zachary Shahan",
"title": "“Humanpilot” Was SERIOUSLY Deadly In 2020",
"description": "People fought against seatbelts not that long ago."}

In [ ]:
d

In [ ]:
d.keys()
f.keys()

### Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
x = 12
y = 10

# Comments 

# == 
# != 
#  < 
#     >
#     <= 
#     > = 
    
#     <> Not equals
# Ctrl + /

In [ ]:
x != y

In [ ]:
x >= y

In [ ]:
pass_tup = ('P@ssword1','P@ssword2','P@ssword3')

In [ ]:
pass_list[2] = 'HACKED!'

In [ ]:
pass_tup[2] = 'HACKED!'

In [ ]:
pass_list
pass_tup

In [ ]:
a.pop()

In [ ]:
a

### Tuples

In [ ]:
t = (1,2,3)
li = [ 1,2,3]

In [ ]:
# t[0] = 'a'

li[0]  = 'avinash'

li

In [ ]:
mutable = lists  [ ]

In [ ]:
immutable =  tuple ( )

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,4,4}

## Comparison Operators

In [ ]:
 x = [1,2,3,4,5,6,7,89]

In [ ]:
a = 5
b = 2
print(b)

In [ ]:
a < b

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
my_list

'b' in my_list

In [ ]:
'hi' in my_list

## Logic Operators

In [ ]:
(1 > 2) | (2 < 3)

In [ ]:
x = 'hello world hi'
if 'hi' in x: 
    print('yes')
else:
    print('no')

In [ ]:
((1 == 2) or (2 == 3)
 or (4 == 4))

In [ ]:

print(login)
print(x)

## if,elif, else Statements

In [2]:
x = 'hi. hibernate'
x

'hi. hibernate'

In [4]:
if 'iron' in x:
    
    print('present in x !')
else:
    print('no')

no

In [5]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [8]:
if 1 > 2:
    print('first')
else:
    pass

In [9]:
x = 1
y = 2
z = x + y
f = z / y
f

1.5

In [10]:
if x == y:
    print('first')
elif y == z:
    print('no')
elif z == (x+y) :
    print('YES finally')
else:
    print('Last')

YES finally

## for Loops

In [11]:
# String Manupilation 



x = 'iit Analytics Club'
x.endswith('lub')

True

In [15]:
x.upper()

'IIT ANALYTICS CLUB'

In [31]:
x = [1,2,3,5,111,6,7,2334,7,8,767,8]
x

[1, 2, 3, 5, 111, 6, 7, 2334, 7, 8, 767, 8]

In [32]:
x

[1, 2, 3, 5, 111, 6, 7, 2334, 7, 8, 767, 8]

In [17]:
loc = ['mumbai','pune','delhi','powai']
loc

['mumbai', 'pune', 'delhi', 'powai']

In [19]:
for o in loc:
    print(o.endswith('ai'))
    #print(i.upper())

True
False
False
True

In [42]:
li = []
for elements in x:
    elements = elements * 2
    li.append(elements)
    print(elements)

2
4
6
10
222
12
14
4668
14
16
1534
16

In [43]:
li

[2, 4, 6, 10, 222, 12, 14, 4668, 14, 16, 1534, 16]

In [26]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10
2
4
6
8
10
2
4
6
8
10

## while Loops

In [47]:
i = 4
while i <= 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 4
i is: 5

In [45]:
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

## range()

In [48]:
range(5)

range(0, 5)

In [49]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [50]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## list comprehension

In [51]:
x = [1,2,3,4]

In [53]:
print('general method')
out = []
for item in x:
    out.append(item*2)
print(out)

general method
[2, 4, 6, 8]

In [55]:


print('\nlist comprehension method')
[item*2 for item in x]

list comprehension method

[2, 4, 6, 8]

In [56]:
[item*2 for item in x]

[2, 4, 6, 8]

## functions

In [58]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [59]:
my_func

In [60]:
my_func()

default

In [61]:
my_func('new paramzz')

new paramzz

In [62]:
my_func(param1='new param')

new param

In [70]:
def squarz(x):
    return x**2

In [67]:
NineSquare = squarz(9)

In [68]:
print(squarz)

81

In [71]:
out = squarz(20)

In [72]:
print(out)

400

## lambda expressions

In [73]:
def iit(verygood):
    print(verygood)
    return verygood / 10

In [74]:
iit(8)

8

0.8

In [78]:
def addiit(i1,i2):
    print('item 1 is:' , i1, '\n', 'item 2 is:',i2 )
    return i1+i2

In [79]:
addiit(3,5)

item 1 is: 3
 item 2 is: 5

8

In [ ]:
lambda i: i / 2

## map and filter

In [25]:
seq = [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%3 == 0,seq))

## methods

In [ ]:
st = 'hello my - name is Sam'
st

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split('-')

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('S')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

# Great Job!